
    <!DOCTYPE html>
    <html lang="en">
    <head>

        <title>Clinic</title>

        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/css/owl.carousel.css">
        <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        

        <!-- MAIN CSS -->
        <link rel="stylesheet" href="~/css/style.css">

    </head>
    <body id="top" data-spy="scroll" data-target=".navbar-collapse" data-offset="50">

        <!-- PRE LOADER -->
        <section class="preloader">
            <div class="spinner">
                <span class="spinner-rotate"></span>
            </div>
        </section>


        <!-- MENU -->
        <section class="navbar custom-navbar navbar-fixed-top" role="navigation">
            <div class="container">
               
               
                    <nav class="navbar navbar-expand-lg navbar-light bg-light">
                        <!-- lOGO TEXT HERE -->
                        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Clinic</a>
                

                    <!-- MENU LINKS -->

                    <div class="collapse navbar-collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item  active"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Staffs" asp-action="Index">Staff</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Patients" asp-action="Index"> Patients</a></li>
                            <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Appointments" asp-action="Index">Appointment</a></li>
                            <partial name="_LoginPartial" />
                        </ul>

                    </div>
                </nav>

            </div>
        </section>
       
        <div class="container">
            @RenderBody()
        </div>
  

      
        <footer id="footer">
            <div class="container">
                <div class="row">

                    <div class="col-md-4 col-sm-6">
                        <div class="footer-info">
                            <div class="section-title">
                                <h2>Headquarter</h2>
                            </div>
                            <address>
                                <p>212 Barrington Court <br>New York, ABC 10001</p>
                            </address>

                            <ul class="social-icon">
                                <li><a href="#" class="fa fa-facebook-square" attr="facebook icon"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                            </ul>

                            <div class="copyright-text">
                                <p>Copyright &copy; 2021 CLinic</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6">
                        <div class="footer-info">
                            <div class="section-title">
                                <h2>Contact Info</h2>
                            </div>
                            <address>
                                <p>+1 333 4040 5566</p>
                                <p><a href="mailto:contact@company.com">contact@company.com</a></p>
                            </address>

                          
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-12">
                        <div class="footer-info newsletter-form">
                            <div class="section-title">
                                <h2>Newsletter Signup</h2>
                            </div>
                            <div>
                                <div class="form-group">
                                    <form action="#" method="get">
                                        <input type="email" class="form-control" placeholder="Enter your email" name="email" id="email" required>
                                        <input type="submit" class="form-control" name="submit" id="form-submit" value="Send me">
                                    </form>
                                    <span><sup>*</sup> Please note - we do not spam your email.</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </footer>





        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <!-- SCRIPTS -->
        <script src="~/js/jquery.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/owl.carousel.min.js"></script>
        <script src="~/js/smoothscroll.js"></script>
        <script src="~/js/custom.js"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
